.path-mod-subjectattendance .attendance-select {
    width: 5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
}


.path-mod-subjectattendance .attendance-col-select {
    width: 4rem;
    font-weight: bold;
    background-color: #f5f5f5;
}

.path-mod-subjectattendance .attendance-select.present {
    background-color: #c8e6c9;
}

.path-mod-subjectattendance .attendance-select.new {
    background-color: #90caf9;
}

.path-mod-subjectattendance .attendance-select.absent {
    background-color: #ffcdd2;
}

.path-mod-subjectattendance .attendance-select.partial {
    background-color: #fff9c4;
}

.path-mod-subjectattendance .attendance-select.none {
    background-color: #fff;
}

.path-mod-subjectattendance .attendance-summary,
.path-mod-subjectattendance .attendance-total-summary {
    width: 8rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    display: flex;
}

.path-mod-subjectattendance .first-column-sticky td:first-child,
.path-mod-subjectattendance .first-column-sticky th:first-child {
    position: sticky;
    left: 0;
    background: #f5f5f5;
    z-index: 4;
}

.path-mod-subjectattendance .table-sticky thead th {
    position: sticky;
    top: 0;
    z-index: 3;
}
