.path-mod-subjectattendance .attendance-select {
    width: 5rem;
    font-weight: bold;
    text-align: center;
    color: #000;
}


.path-mod-subjectattendance .attendance-col-select {
    width: 4rem;
    font-weight: bold;
    background-color: #f5f5f5;
}

.path-mod-subjectattendance .attendance-select.present {
    background-color: #c8e6c9;
}

.path-mod-subjectattendance .attendance-select.new {
    background-color: #90caf9;
}

.path-mod-subjectattendance .attendance-select.absent {
    background-color: #ffcdd2;
}

.path-mod-subjectattendance .attendance-select.partial {
    background-color: #fff9c4;
}

.path-mod-subjectattendance .attendance-select.none {
    background-color: #fff;
}

.path-mod-subjectattendance .attendance-summary,
.path-mod-subjectattendance .attendance-total-summary {
    width: 10rem;
    font-weight: bold;
    text-align: center;
    color: #000;
    display: flex;
}

.path-mod-subjectattendance .attendance-percents {
    width: 10rem;
    font-weight: normal;
    text-align: center;
    color: #000;
    display: flex;
}

.path-mod-subjectattendance table.generaltable {
    border-collapse: separate;
    border-spacing: 0;
}

.path-mod-subjectattendance .first-column-sticky td:first-child,
.path-mod-subjectattendance .first-column-sticky th:first-child {
    position: sticky;
    left: 0;
    background: #fff;
    z-index: 4;
    border-right: 1px solid #eee;
}

.path-mod-subjectattendance .first-column-sticky tbody tr.lastrow td:first-child {
    border-right: none;
}

.path-mod-subjectattendance .last-column-sticky td:last-child,
.path-mod-subjectattendance .last-column-sticky th:last-child {
    position: sticky;
    right: 0;
    background: #fff;
    z-index: 4;
    border-left: 1px solid #eee;
}

.path-mod-subjectattendance .last-column-sticky tbody tr.lastrow td:last-child {
    border-left: none;
}
